@font-face {
  font-family: 'Gotham Book';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Book'), url('./gotham/GothamBook.woff') format('woff');
}
    
@font-face {
  font-family: 'Gotham Book Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Book Italic'), url('./gotham/GothamBookItalic.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Light';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Light'), url('./gotham/GothamLight.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Light Italic'), url('./gotham/GothamLightItalic.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Medium'), url('./gotham/GothamMedium.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Medium'), url('./gotham/GothamMedium_1.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Medium'), url('./gotham/GothamMediumItalic.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Bold'), url('./gotham/GothamBold.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Bold'), url('./gotham/Gotham-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Bold Italic'), url('./gotham/GothamBoldItalic.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Black Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Black Regular'), url('./gotham/Gotham-Black.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Light Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Light Regular'), url('./gotham/Gotham-Light.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Thin Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Thin Regular'), url('./gotham/Gotham-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Gotham XLight Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham XLight Regular'), url('./gotham/Gotham-XLight.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Book Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Book Italic'), url('./gotham/Gotham-BookItalic.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Thin Italic'), url('./gotham/Gotham-ThinItalic.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Ultra Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Ultra Italic'), url('./gotham/Gotham-UltraItalic.woff') format('woff');
}

@font-face {
  font-family: 'Gotham XLight Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham XLight Italic'), url('./gotham/Gotham-XLightItalic.woff') format('woff');
}