@import "./variables";

.splash-main {
  height: 100%;
  background-color: $main-color;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    font-weight: 'Gotham Bold';
    font-size: 60px;
    color: $white-color; 
  }
}