@import "../../../style/variables";

.input-range {
  margin-top: 38px;

  input[type=range] {
    -webkit-appearance: none;
    width: calc(100% - 60px);
    display: block;
    margin: 0 auto;
    background: transparent;
  }
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 60px;
    width: 60px;
    background-color: $main-color;
    border: 4px solid $white-color;
    cursor: pointer;
    margin-top: -27px;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background-color: $white-color;
  }
}