@import "../../../style/variables";

.main-title {
  h1, h2 {
    font-family: 'Gotham Bold';
    color: $white-color;
    padding-left: 30px;
  }
  
  h1 {
    font-size: 40px;
    padding-top: 60px;
  }
  
  h2 {
    font-size: 20px;
    opacity: .5;
  }
}