@import "../../style/variables";

.welcome {
  height: 100%;
  background-color: $main-color;

  img {
    display: block;
    width: 100%;
    height: calc(100% - 186px);
    object-fit: cover;
    object-position: center;
  }
}